<div class="user-form">

    <div class="user-form-header">
        <div class="inner-text">
            <h3>Edit account information</h3>
            <p>Lorem ipsum is placeholder text commonly</p>
        </div>
        <button>Edit</button>

    </div>
    <div class="hr2"></div>


    <form action="">


        <div class="inputs-container">
            <div class="input">
                <label for="name">Name</label>
                <input type="text" id="name" value="Haitham Mohamed" disabled>
            </div>
            <div class="input">
                <label for="role">Role& permissions</label>
                <input type="text" id="role" value="Super Admin" disabled>
            </div>
        </div>
        <div class="inputs-container">
            <div class="input">
                <label for="email">Email</label>
                <input type="text" id="email" value="HaithamMohamed@saptiumsoftware.com" disabled>
            </div>
            <div class="select">
                <label for="number">Phone</label>
                <div class="phone">
                    <select name="" id="">
                        <!-- <option value=""><img src="Group.svg" alt=""></option> -->
                    </select>
                    <input type="text" value="+1258525645-555" disabled>

                </div>
            </div>
        </div>



    </form>





    <div class="hr3"></div>
    <div class="user-form-footer">
        <div class="inner-text">
            <h3>Delete Account</h3>
            <p>Lorem ipsum is placeholder text commonly</p>
        </div>
        <button>Delete Account</button>
    </div>

</div>