<div class="user-form">

  <div class="user-form-header">
    <div class="inner-text">
      <h3>Activity Log</h3>
      <p>Lorem ipsum is placeholder text commonly</p>
    </div>
    <div class="search">
      <img src="assets/images/magnifier.svg" alt="search">
      <input type="text" placeholder="search..." [(ngModel)]="searchText">
    </div>





  </div>


  <div class="activity">
    <ul>
      <li>
        <div class="txt-left">
          <div class="img-container">
            <img src="assets/images/message-text.svg" alt="">
          </div>
          There are 2 new comment for you in “AirPlus Mobile App” .
        </div>
        <div class="time"> <img src="assets/images/time.svg" alt="time-icon">4:23 PM</div>
      </li>


      <li>
        <div class="txt-left">
          <div class="img-container">
            <img src="assets/images/pin.svg" alt="">
          </div>
          New Blog post is assigned to you.
        </div>
        <div class="time"> <img src="assets/images/time.svg" alt="time-icon">4:23 PM</div>
      </li>
      <li>
        <div class="txt-left">
          <div class="img-container">
            <img src="assets/images/files-folders.svg" alt="">
          </div>
          12 new Files uploaded now.
        </div>
        <div class="time"> <img src="assets/images/time.svg" alt="time-icon">4:23 PM</div>
      </li>
      <li>
        <div class="txt-left">
          <div class="img-container">
            <img src="assets/images/message-text.svg" alt="">
          </div>
          There are 2 new comment for you in “AirPlus Mobile App” .
        </div>
        <div class="time"> <img src="assets/images/time.svg" alt="time-icon">4:23 PM</div>
      </li>
      <li>
        <div class="txt-left">
          <div class="img-container">
            <img src="assets/images/files-folders.svg" alt="">
          </div>
          12 new Files uploaded now .
        </div>
        <div class="time"> <img src="assets/images/time.svg" alt="time-icon">4:23 PM</div>
      </li>
      <li>
        <div class="txt-left">
          <div class="img-container">
            <img src="assets/images/message-text.svg" alt="">
          </div>
          New Blog post is assigned to you .
        </div>
        <div class="time"> <img src="assets/images/time.svg" alt="time-icon">4:23 PM</div>
      </li>
    </ul>

  </div>

</div>