<div class="container">
  <div class="row">
    <div class="col-5">
      <div class="breadcrumb">
        <div class="stage">
          <img src="assets/images/dashboard.svg" alt="dashboard" />
          Dashboard
        </div>

        <span>></span>

        <div class="stage">
          <img
            src="assets/images/profile-circle-dark.svg"
            alt="profile-circle-dark"
          />
          User Management
        </div>
        <span>></span>

        <div class="stage">Manage Users</div>
      </div>
    </div>

    <div class="col-7"></div>
  </div>
</div>
