<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="">
        <div appToggleFilter>
          <button class="filter-btn">
            <img src="assets/images/filter.svg" alt="filter" />Filter
          </button>
        </div>
        <div class="addFilter">
          <div class="header">
            <p>No filter conditions are applied to this table</p>
          </div>
          <button>
            <img src="assets/images/addfilter.svg" alt="addfilter" />
            Add Filter
          </button>
        </div>
      </div>
      <div class="col-12">
        <div class="filteredCols">
          <strong>Where</strong>
          <form>

            

            <div class="form-group">
              <select class="form-control" name="" id="">
                <option value="seo">SEO</option>
                <option value="blogTitle">Blog Title</option>
                <option value="status">Status</option>
                <option value="createdAt">Created At</option>
                <option value="createdBy">Created By</option>
                <option value="author">Author</option>
              </select>
            </div>

            <div class="form-group">
              <select class="form-control" name="" id="">
                <option value="">Select Column</option>
                <option value="seo">SEO</option>
                <option value="blogTitle">Blog Title</option>
                <option value="status">Status</option>
                <option value="createdAt">Created At</option>
                <option value="createdBy">Created By</option>
                <option value="author">Author</option>
              </select>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
