<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="filter-container">
        <div appToggleFilter>
          <button class="filter-btn">
            <img src="assets/images/filter.svg" alt="filter" />Filter
          </button>
        </div>
        <div class="addFilter">
          <div class="header">
            <p>No filter conditions are applied to this table</p>
          </div>
          <button (click)="toggleAddBtn()">
            <img src="assets/images/addfilter.svg" alt="addfilter" />
            Add Filter
          </button>

          @if(toggleAddFilterBtn){
          <div class="filter">
            <div class="filterSearch">
              <input
                class="form-control"
                type="text"
                name="search"
                id="search"
                placeholder="Search columns"
                [(ngModel)]="filterSearch"
                (input)="filter($event)"
              />
              <img src="assets/images/search-normal.svg" alt="Search" />
            </div>
            <div class="filteredList">
              <ul>
                @for (col of tempCols; track $index) {
                <li>{{ col }}</li>
                }
              </ul>
            </div>
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
