<div class="container">
  <table>
    <thead>
      <tr>
        <th style="width: 30px"><input type="checkbox" /></th>
        @for (data of headdata; track $index) {
        <th>{{ data }}</th>
        }
      </tr>
    </thead>
    <tbody>
      @for (item of bodydata; track $index) {
      <tr>
        <td style="width: 30px"><input type="checkbox" /></td>
        @for (data of bodydata; track data) {
        <td>{{ data }}</td>
        }
        <td style="width: 30px;">
          <div class="dots">
            <div class="dot"></div>
            <div class="dot"></div>
            <div class="dot"></div>
          </div>
        </td>
      </tr>
      }
    </tbody>
    <tfoot></tfoot>
  </table>
</div>
