<div class="container">
  <table>
    <thead>
      @for (data of headData; track data) {

      <tr>
        <th>{{ data }}</th>
        <th>1</th>
        <th>2</th>
        <th>3</th>
        <th>3</th>
        <th>3</th>
        <th>3</th>
      </tr>

      }
    </thead>
    <tbody>
      @for (data of bodyData; track data) {
      <tr>
        <td>{{ data }}</td>
        <td>aa</td>
        <td>aa</td>
        <td>aa</td>
        <td>aa</td>
        <td>aa</td>
        <td>aa</td>
      </tr>
      }
    </tbody>
    <tfoot></tfoot>
  </table>
</div>
