<div class="container">
  <div>
    <div class="col-12">
      <div class="section-title">
        <h3>User Management</h3>
        <small>Mange your users and roles</small>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-3">
      <app-card
        [icon_path]="'assets/images/user-management-count.svg'"
        [title]="'Active Users'"
        [description]="'Total user number'"
        [description_continue]="'in this system'"
        [total_number]="'3500'"
      ></app-card>
    </div>
    <div class="col-3">
      <div class="card">
        <div class="info">
          <div class="main-info">
            <div class="icon">
              <img
                src="assets/images/user-management-count.svg"
                alt="user-count"
              />
            </div>
            <div class="title">Active Users</div>
          </div>
          <small class="description"
            >Total user number <br />
            in this system</small
          >
        </div>
        <div class="total-number">3,500</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <div class="info">
          <div class="main-info">
            <div class="icon">
              <img
                src="assets/images/user-management-count.svg"
                alt="user-count"
              />
            </div>
            <div class="title">Total Users</div>
          </div>
          <small class="description"
            >Total user number <br />
            in this system</small
          >
        </div>
        <div class="total-number">3,500</div>
      </div>
    </div>

    <div class="col-3">
      <div class="card">
        <div class="info">
          <div class="main-info">
            <div class="icon">
              <img
                src="assets/images/user-management-count.svg"
                alt="user-count"
              />
            </div>
            <div class="title">Total Users</div>
          </div>
          <small class="description"
            >Total user number <br />
            in this system</small
          >
        </div>
        <div class="total-number">3,500</div>
      </div>
    </div>
  </div>
</div>
