<div class="container">

    <div class="user-profile-container">

        <div class="user-header">
            <div class="header-icons">
                <div class="refresh">
                    <img src="assets/images/refresh-2.svg" alt="">

                    <p>Last update : Today,15:05pm</p>
                </div>


                <img src="assets/images/cross-square.svg" alt="">

            </div>


            <div class="user-info">
                <img src="assets/images/Screenshot 2024-02-14 092120.png" alt="user-img">
                <div class="edit"> <img src="assets/images/edit.svg" alt=""></div>
                <h3>Haitham Mohamed</h3>
                <p>Supper Admin</p>
            </div>



            <div class="user-actions">
                <div class="a-box">
                    <a [routerLink]="['edit']" routerActiveLink="active"> Information</a>
                </div>

                <div class="hr"></div>
                <div class="a-box">
                <a [routerLink]="['change-password']" routerActiveLink="active">Password</a>
            </div>

                <div class="hr"></div>
                <div class="a-box">
                <a [routerLink]="['activity-log']" routerActiveLink="active">Activity log</a>
            </div>
            </div>
        </div>
        <div class="user-form">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>