<div class="user-form">

    <div class="user-form-header">
        <div class="inner-text">
            <h3>Change Password</h3>
            <p>Lorem ipsum is placeholder text commonly</p>
        </div>
        <button>Edit</button>
    </div>
    <div class="hr2"></div>

  <div class="form-container">
    <form action="">
        <div class="input">
            <label for="password">Current Password</label>
            <input type="password" id="password" placeholder="Enter the Current Password" disabled>
        </div>

        <div class="input">
            <label for="password">Password</label>
            <input type="password" id="password" value="12345678910" disabled>
        </div>

        <div class="input">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" id="confirm-password" value="12345678910"  disabled>
        </div>
    </form>
    <img src="assets/images/Group 1000016543.svg" alt="">
  </div>


</div>



