
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "DM Sans";
}

.hr2 {
    width: 280px;
    height: 1px;
    background-color: rgb(218, 215, 215);
}


.user-form {
    padding: 30px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.inner-text {
    display: flex;
    flex-direction: column;
    row-gap: 7px;
}

.user-form-header .inner-text h3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #3F4254;
}

.inner-text p {
    font-size: 12px;
    font-weight: 400;
    color: #7E8299;
}

.user-form-header {
    display: flex;
    justify-content: space-between;
}

.user-form-header button {
    color: #0660FC;
    border: 0.75px solid #0660FC;
    border-radius: 6px;
    width: 91px;
    height: 30px;
    padding: 6px;

    font-size: 12px;
    font-weight: 500;
    background-color: #FFFFFF;
}




/*formmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm*/

.input {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

.select {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}


.input input {
    width: 260px;
    height: 38px;
    background-color: #FAFAFB;
    border-radius: 6px;
    border: none;
    padding-left: 10px;
    font-size: 12px;
    border: 0.75px solid #FAFAFB;
}

.inputs-container {
    display: flex;
    justify-content: space-between;

}

form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}



label {
    font-size: 12px;
    font-weight: 500;
    color: #7E8299;
}



.form-container{
    display: flex;
    justify-content: space-between;
}


@media screen and (max-width: 1200px) and (min-width:992px) {}

@media screen and (max-width: 992px) and (min-width:786px) {}

@media screen and (max-width: 786px) and (min-width:600px) {}


@media screen and (max-width: 650px) {
    .user-profile-container {
        width: 290px;
    }

    .inputs-container {
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }

    .input input {
        width: 250px;
    }

    .user-actions {
        width: 236px;
    }

    .edit img {

        position: absolute;
        top: 50px;
        right: 80px;
    }

    .inner-text p {
        font-size: 10px;
        line-height: 16px;
    }
    .hr2
    {
        width: 100%;
    }
    .form-container img{
        display: none;
    }
}


