* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "DM Sans";
}

.roles-container {}

.role-card {

    width: 363px;
    background-color: #FFF;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 16px;

    box-shadow: 0px 4px 8px 0px rgba(146, 146, 146, 0.2);
    position: relative;
}

.left {
    display: flex;
    column-gap: 7px;
}

.text h2 {
    font-size: 14px;
    color: #3F4254;
}

.text p {
    font-size: 12px;
    color: #A1A5B7;
}

.text {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}

.card-header {
    display: flex;
    justify-content: space-between;
}

.status {
    width: 90px;

    padding: 6px;
    border-radius: 12px;
    border: 0.75px solid #BFD4E466;

    display: flex;
    align-items: center;
    column-gap: 10px;


}

.status p {
    font-size: 12px;
}

.dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #0660FC;
}


.left img {
    width: 30px;
    height: 30px;
}



.hr {
    width: 95%;
    margin: auto;
    background-color: #E3EEF5;
    height: 1px;
}

.members {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}

.members img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.number {
    padding: 4px 8px;
    font-size: 14px;
    border-radius: 100%;
    background-color: #BFD4E466;
    border: 0.5px solid #BFD4E466;
}

.members .text{
    display: flex;
    column-gap: 10px;
    align-items: center;


}

.members-numbers {
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.imgs-container {
    display: flex;
    column-gap: 10px;
}

.dots {
    display: flex;
    flex-direction: column;
    row-gap: 2px;
    justify-content: center;
    padding: 3px;

}

.dots .dot {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #A1A5B7;
    border: none;
}


.right-header {
    display: flex;
    align-items: center;
    column-gap: 14px;
}

/*rolessssssssssssssssssssssss status*/
.roles-status {
    width: 180px;
    /* height: 124px; */
    border: 1px solid #E7E7E9;
    border-radius: 8px;
    background-color: #FFFFFF;
    padding: 10px;
    box-shadow: 0px 4px 10px 1px rgba(146, 146, 146, 0.2);
    position: absolute;
    top: 43px;
    color: #7E8299;
    right: 20px;


}

.roles-status ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    margin-top: 10px;


}

.roles-status ul li {
    display: flex;
    padding: 10px 5px;
    width: 100%;
    column-gap: 10px;
    border-radius: 6px;
    /* justify-content: space-between; */
}

.roles-status ul li:hover {
    background: linear-gradient(270deg, rgba(6, 96, 252, 0) 0%, rgba(6, 96, 252, 0.08) 100%);

}



@media screen and (max-width: 1200px) and (min-width:992px) {}

@media screen and (max-width: 992px) and (min-width:786px) {}

@media screen and (max-width: 786px) and (min-width:600px) {}


@media screen and (max-width: 650px) {

    .role-card {
        width: 90%;
        margin: auto;
    }





}