<div class="roles-container">


    <div class="role-card">
        <div class="card-header">
            <div class="left">
                <img src="assets/images/admin.svg" alt="">
            <div class="text">
                <h2>Super Admin</h2>
                <p>Lorem ipsum dolor sit amet.</p></div>


            </div>
            <div class="status">
                <div class="dot">
                  
                </div>
                <p>Activate</p>
            </div>

      
        </div>
        <div class="hr"></div>

        <div class="members">
            <div class="text"><p>Members</p>
            <div class="number">3</div></div>
<div class="imgs-container">            <img src="assets/images/Image-40.svg" alt="">
    <img src="assets/images/Image-40.svg" alt="">
</div>
        </div>
    </div>


</div>