<div class="container">
  <div class="projName">
    <div class="nameContainer">
      <div><img src="../../../assets/images/Icon.png" alt="Logo" /></div>
      <div class="projNDiv"><p class="Name">CMS Software</p></div>
    </div>

    <div class="selDiv">
      <select name="language">
        <option value="en">English</option>
        <option value="en">Arabic</option>
      </select>
    </div>
  </div>

  <div class="loginContainer" id="loginContainerId" [@flipInOut]>
    <div class="bg3">
      <div class="loginDiv">
        <h1>Set a new password</h1>
        <p class="info1">
          New password must be different from your previous passwords
        </p>
        <div>
          <form
            action=""
            [formGroup]="formSetNewPassword"
            (ngSubmit)="setNewPassword()"
            #setnewpassform="ngForm"
          >
            <div class="label-div">
              <label class="form-label" for="fromInput3">Password</label>
              <input
                type="password"
                class="form-input passwordCheck"
                id="fromInput3"
                placeholder="********************"
                formControlName="password"
                [ngClass]="{
                  'is-invalid':
                  formSetNewPassword.controls.password.touched &&
                  formSetNewPassword.controls.password.errors,
                  'is-valid':
                  formSetNewPassword.controls.password.touched &&
                  formSetNewPassword.controls.password.errors == null ,
                  'is-touched':
                  formSetNewPassword.controls.password.untouched &&
                  formSetNewPassword.controls.password.errors == null,
              }"
                (focusin)="test()"
                (focusout)="test()"
              />

              <!-- <span
              class="p-viewer"
              [ngClass]="{ show: !passwordHint }"
              [ngClass]="{ hide: !passwordHint }"
            >
              <fa-icon [icon]="faEye" class="faEye" (click)="eyeShow()"></fa-icon>
              <hr
                [ngClass]="{ show: eyeshow }"
                [ngClass]="{ hide: eyeshow }"
                class="eyeHr"
              />
            </span> -->

              <br />
              <div class="passwordCheckContainer">
                <div class="invalid-feedback" [hidden]="!passwordHint">
                  <div class="strongth-password">
                    @if(formSetNewPassword.controls.password.value!.length < 6
                    || formSetNewPassword.controls.password.value!.length >= 6
                    && formSetNewPassword.controls.password.errors){
                    <div class="bar" id="week"></div>
                    <div class="bar" id="mediumH"></div>
                    <div class="bar" id="strongH"></div>

                    } @if(formSetNewPassword.controls.password.value!.length >=
                    6 && formSetNewPassword.controls.password.value!.length < 15
                    && formSetNewPassword.controls.password.errors==null){
                    <div class="bar" id="mediumS"></div>
                    <div class="bar" id="medium" #medium></div>
                    <div class="bar" id="strongH"></div>

                    } @if(formSetNewPassword.controls.password.value!.length >=
                    15 && formSetNewPassword.controls.password.errors==null){
                    <div class="bar" id="weekH"></div>
                    <div class="bar" id="strongS" #medium></div>
                    <div class="bar" id="strong" #strong></div>

                    }
                  </div>
                </div>
                <p
                  id="passHint"
                  [ngClass]="{ show: passwordHint }"
                  [ngClass]="{ hide: passwordHint }"
                >
                  Password hint : 8 characters minimum
                </p>
                <div
                  style="
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                  "
                >
                  <div style="margin-right: 5px" [hidden]="!passwordHint">
                    @if(formSetNewPassword.controls.password.value!.length < 6
                    || formSetNewPassword.controls.password.value!.length >= 6
                    && formSetNewPassword.controls.password.errors){
                    <p class="passCheckWord">Password: Week</p>
                    } @if(formSetNewPassword.controls.password.value!.length >=
                    6 && formSetNewPassword.controls.password.value!.length < 15
                    && formSetNewPassword.controls.password.errors==null){
                    <p class="passCheckWord">Password: Meduim</p>
                    } @if(formSetNewPassword.controls.password.value!.length >=
                    15 && formSetNewPassword.controls.password.errors==null){
                    <p class="passCheckWord">Password: Strong</p>
                    }
                  </div>
                  <button class="tooltip">
                    !
                    <ul class="tooltiptext">
                      Your Password Must Contain:
                      <li>
                        <span
                          class="correctIcon"
                          [ngClass]="{
                            changeBG: numberLength
                          }"
                          >✔</span
                        >At least 8 characters
                      </li>
                      <li>
                        <span
                          class="correctIcon"
                          [ngClass]="{
                            changeBG: uppercase
                          }"
                          >✔</span
                        >At least One Capital Letter
                      </li>
                      <li>
                        <span
                          class="correctIcon"
                          [ngClass]="{
                            changeBG: Number
                          }"
                          >✔</span
                        >At least One Numbers
                      </li>
                      <li>
                        <span
                          class="correctIcon"
                          [ngClass]="{
                            changeBG: specialChar
                          }"
                          >✔</span
                        >At least One Special Character:!#$%^&*()_+.
                      </li>
                    </ul>
                    <!-- <span id="length"></span> -->
                    <!-- <span id="upercase">At least contain 1 upercase</span>
                <span id="number">At least contain 3 numbers</span> -->
                  </button>
                </div>
              </div>
              <div class="label-div">
                <label class="form-label" for="fromInput4"
                  >Confirm Password</label
                >
                <!-- <span class="p-viewer1">
              <fa-icon [icon]="faEye"></fa-icon>
            </span> -->
                <input
                  type="password"
                  class="form-input"
                  id="fromInput4"
                  formControlName="confirmPassword"
                  placeholder="********************"
                  [ngClass]="{
                'is-invalid':
                formSetNewPassword.controls.confirmPassword.touched &&
                formSetNewPassword.controls.confirmPassword.errors,
                'is-valid':
                formSetNewPassword.controls.confirmPassword.touched &&
                formSetNewPassword.controls.confirmPassword.errors == null ,
                'is-touched':
                formSetNewPassword.controls.confirmPassword.untouched &&
                formSetNewPassword.controls.confirmPassword.errors == null,
            }"
                />
                @if (formSetNewPassword.controls.confirmPassword.touched &&
                formSetNewPassword.controls.confirmPassword.errors) {
                <div class="invalid-feedback">
                  @if
                  (formSetNewPassword.controls.confirmPassword.errors['required'])
                  {
                  <p class="required">Confirm Password is required</p>
                  } @if
                  (formSetNewPassword.controls.confirmPassword.errors['passwordMismatch'])
                  {
                  <p>Confirm Password does not match</p>
                  }
                </div>
                }
              </div>
              <button type="submit" [disabled]="formSetNewPassword.invalid">
                Reset password
              </button>
              <p class="info2">
                Dont't get the code ? <a>Resend</a> or
                <a>call us</a>
              </p>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
