<!DOCTYPE html>
<div class="container">
  <div class="formDiv">
    <div class="projName">
      <img src="../../../assets/images/Icon.png" alt="ProjectIcon" />
      <p>CMS Software</p>
    </div>

    <h1>
      Welcome! 👋
      <!-- <i class="fa-solid fa-hand fa-flip-horizontal fa-lg" style="color: #FFD43B;"></i> -->
    </h1>
    <p class="info">Sign Up to Manage Blog post account</p>

    <form
      class="form-group"
      [formGroup]="formInfo"
      (ngSubmit)="Submit()"
      #form="ngForm"
    >
      <div class="FLinksContainer">
        <div class="formLinks">
          <a href="https://www.google.com/">
            <p>
              <fa-icon
                [icon]="faGoogle"
                style="color: red; font-size: 20px"
              ></fa-icon>
              &nbsp;
              <!-- <i class="fa-brands fa-google"></i> -->
              <!-- <i class="fa fa-user "></i> -->
              <!-- <i class="fa-brands fa-google-play"></i> -->
              <!-- <img src="Logo.png" alt="LogoImage"> -->
              <span class="whenComputer">Sign up with Google</span>
              <span class="whenPhone">whit Google</span>
            </p>
          </a>
        </div>
        <div class="formLinks">
          <a href="https://www.facebook.com/">
            <p>
              <fa-icon
                [icon]="faFacebook"
                style="color: blue; font-size: 20px"
              ></fa-icon>
              &nbsp;
              <span class="whenComputer">Sign up with Facebook</span>
              <span class="whenPhone">With Facebook</span>
            </p>
          </a>
        </div>
      </div>

      <div class="line">
        <hr />
        <span>OR</span>
        <hr />
      </div>
      <div>
        <label class="form-label" for="fromInput1">Full Name</label>
        <input
          type="text"
          class="form-input"
          formControlName="fullName"
          [ngClass]="{
            'is-invalid':
              formInfo.controls.fullName.touched &&
              formInfo.controls.fullName.errors
          }"
          id="fromInput1"
          placeholder="i.e. Haitham mohamed"
        />
        @if (formInfo.controls.fullName.errors &&
        formInfo.controls.fullName.touched) {
        <div class="invalid-feedback">
          @if (formInfo.controls.fullName.errors['required']) {
          <p class="required">Fullname is required</p>
          }
        </div>
        }
      </div>
      <div>
        <label class="form-label" for="fromInput2">Email</label>
        <input
          type="email"
          class="form-input"
          id="fromInput2"
          placeholder="i.e. Haitham.mo@company.com"
          formControlName="email"
          [ngClass]="{
            'is-invalid':
              formInfo.controls.email.touched && formInfo.controls.email.errors
          }"
        />
        @if (formInfo.controls.email.touched && formInfo.controls.email.errors)
        {
        <div class="invalid-feedback">
          @if (formInfo.controls.email.errors['required']) {
          <p class="required">Email is required</p>
          } @if (formInfo.controls.email.errors['email']) {
          <p>Email is invalid</p>
          }
        </div>
        }
      </div>
      <div class="label-div">
        <label class="form-label" for="fromInput3">Password</label>
        <input
          type="password"
          class="form-input"
          id="fromInput3"
          placeholder="********************"
          formControlName="password"
          [ngClass]="{
            'is-invalid':
              formInfo.controls.password.touched &&
              formInfo.controls.password.errors
          }"
        />
        @if (formInfo.controls.password.touched &&
        formInfo.controls.password.errors) {
        <div class="invalid-feedback">
          @if (formInfo.controls.password.errors['required']) {
          <p class="required">Password is required</p>
          } @if (formInfo.controls.password.errors['minlength']) {
          <p>Password must be at least 6 characters</p>
          } @if (formInfo.controls.password.errors['maxlength']) {
          <p>Username must not exceed 40 characters</p>
          }
        </div>
        }
        <p>Password hint : 8 characters minimum !</p>
        <!-- <progress class="progressPass" mode="determinate" value="10"></progress><br> -->
        

      </div>
      <div class="label-div">
        <label class="form-label" for="fromInput4">Confirm Password</label>
        <!-- <span class="p-viewer1">
					<fa-icon [icon]="faEye"></fa-icon>
				</span> -->
        <input
          type="password"
          class="form-input"
          id="fromInput4"
          formControlName="confirmPassword"
          placeholder="********************"
          [ngClass]="{
            'is-invalid':
              formInfo.controls.confirmPassword.touched &&
              formInfo.controls.confirmPassword.errors
          }"
        />
        @if (formInfo.controls.confirmPassword.touched &&
        formInfo.controls.confirmPassword.errors) {
        <div class="invalid-feedback">
          @if (formInfo.controls.confirmPassword.errors['required']) {
          <p class="required">Confirm Password is required</p>
          } @if (formInfo.controls.confirmPassword.errors['matching']) {
          <p>Confirm Password does not match</p>
          }
        </div>
        }
      </div>

      <button
        routerLink="/signin"
        type="submit"
        class="submitButton"
        [disabled]="!form.valid"
      >
        Sign Up
      </button>
    </form>
    <p class="info">Have an Account? <a routerLink="/signin">Login</a></p>
    <p class="info">
      By signing up you agree to out <a href="">Terms</a> and
      <a href="">privacy policy</a>
    </p>
  </div>

  <div class="SlidesContainer">
    <!-- Slideshow container -->
    <div class="slideshow-container">
      <!-- Full-width images with number and caption text -->
      <div id="mySlide" class="mySlides fade">
        <div class="cardDiv">
          <div class="avatar">
            <img
              src="../../../assets/images/data.svg"
              alt="Data"
              class="insideImg"
              id="inside"
            />
          </div>

          <img src="{{ showSlides() }}" alt="Slides" class="img1" />
        </div>
        <div class="text">
          <p>Manage Any Content Anywhere</p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
            repellat modi dicta suscipit vero
          </p>
        </div>
      </div>
      <!-- Next and previous buttons -->
      <!-- <div style="display: flex; justify-content: space-between; position: relative; top: -50%;">
        <a class="prev" (click)="prevSlides()">&#10094;</a>
        <a class="next" (click)="nextSlides()">&#10095;</a>
      </div> -->
    </div>

    <div class="dots" style="text-align: center">
      <span id="dot1" class="dot" (click)="currentSlide(0)"></span>
      <span id="dot2" class="dot" (click)="currentSlide(1)"></span>
    </div>

    <!-- The dots/circles -->
  </div>
</div>
